<body>
	<section class="jolie" id="ancre2">
		<div class="jumbotron">
			<div class="jumbotron-center">
				<div class="container">
					<div id="ancre">
						<h1 class="display-3"> SoPressing</h1>
						<p class="lead">Une tenue toujours parfaite !</p>
						<div class="input-group">
							<!--<span class="input-group-addon"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i></span>--> 
							<input class="form-control" type="text"  placeholder="Entrez votre adresse...">
							<span class="input-group-btn">
								<button class="btn btn-success" type="button" href="/select/index"><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> Localisez-moi !</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	<section class="concept_bis" id="ancre1">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title1">
						<h3>Comment ça marche ? </h3>
						<h4>3 étapes</h4>
					</div>
					<div class="row align-items-center">
						<div class="icon">
							<%= image_tag ("map.png"), class: "icon-concept" %>
							<%= image_tag ("shirt.png"), class: "icon-concept" %>
							<%= image_tag ("found.png"), class: "icon-concept" %>
						</div>			
						<div class="col-lg-6">
							<div class="lol">
								<h4 class="title-concept">Indiquez-nous votre position</h4>
								<p class="text-concept">
								Nous recherchons les pressings les plus proches de chez vous</p>
								<h4 class="title-concept">Sélectionnez les pièces que vous souhaitez nettoyer</h4>
								<p class="text-concept"> Vous pouvez choisir à peu près n'importe quels vêtements</p>
								<h4 class="title-concept">Comparez les prix sur les pressings les plus proches de chez vous</h4>
								<p class="text-concept">Il ne vous reste plus qu'à apporter vos vêtements préférés !</p>
							</div>
						</div>
						<div class="col-lg-6">
							<%= image_tag ("logo-phone.png"), class: "image-concept" %>
						</div>					
					</div>
					<a href="#ancre2"><button type="button" class="btn buttontest2" href="#ancre2">Tester !</button></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="avis_bis">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title2">
					<h4>Ils ont utilisés nos services ! </h4>
				</div>
				<div class="row">
					<div class="col-lg-4 bonjour">
						<div class="row align-items-center">
							<div class="col-lg-6"><h5 class="nom_user_bis"><strong>Félix G.</strong></h5></div>
							<div class="col-lg-6"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
						</div>
						<p class="avis_user_bis">"Cela faisait longtemps que je cherchais à faire nettoyer mes manteaux, mais manquant de temps, je n'avais pas comparé les différents pressings vers chez moi."</p>
						
					</div>
					<div class="col-lg-4 bonjour">
						<div class="row align-items-center">
							<div class="col-lg-6"><h5 class="nom_user_bis"><strong>Charles D. </strong>
							</h5></div>
							<div class="col-lg-6"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
						</div>
						<p class="avis_user_bis">"Parfait pour comparer les prix lorsque l'on a de nombreuses chemises à nettoyer en même temps. Simple &amp; efficace, je recommande."</p>
					</div>
					<div class="col-lg-4 bonjour">
						<div class="row align-items-center">
							<div class="col-lg-6"><h5 class="nom_user_bis"><strong>Marie L. </strong>
							</h5></div>
							<div class="col-lg-6"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
						</div>
						<p class="avis_user_bis">"La possibilité de comparer et choisir le pressing utilisant des produits plus écolos a été un véritable bénédiction pour moi. Mes chemisiers vous remercient !"</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="aurevoir">
							<div class="row"> 
								<div class="offset-3 col-lg-6">Nos avis sur Trustpilot <div class="rating">
									<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
								</div>
								<br>
								<a href="https://fr.trustpilot.com/review/" class="ref">Lire tous les avis</a>
							</div>
						</div>      
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
</section>
<section class="avis">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title2">
					<h4>Ils ont utilisés nos services ! </h4>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="row align-items-center">
							<div class="col-lg-6"><h5 class="nom_user">Keshia</h5></div>
							<div class="col-6"><%= image_tag ("user-f-2.jpg"), class: "rounded-circle" %></div>
						</div>
						<p class="avis_user">Parfait pour comparer les prix lorsque l'on a de nombreuses chemises à nettoyer en même temps. Simple &amp; efficace, je recommande.</p>
					</div>
					<div class="col-lg-4"> 						
						<div class="row align-items-center">
							<div class="col-lg-6"><h5 class="nom_user">John-Rachid</h5></div>
							<div class="col-6"><%= image_tag ("user-yoman.jpg"), class: "rounded-circle" %></div>
						</div>			
						<p class="avis_user">Cela faisait longtemps que je cherchais à faire nettoyer mes manteaux, mais manquant de temps, je n'avais pas comparé les différents pressings vers chez moi.</p>
					</div>
					<div class="col-lg-4">
						<div class="row align-items-center">
							<div class="col-lg-6"><h5 class="nom_user">Ursula</h5></div>
							<div class="col-6"><%= image_tag ("user-f-1.jpg"), class: "rounded-circle" %></div>
						</div>
						<p class="avis_user">La possibilité de comparer et choisir le pressing utilisant des produits plus écolos a été un véritable bénédiction pour moi. Mes chemisiers vous remercient !</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="row"> 
							<div class="offset-3 col-lg-6">Nos avis sur Trustpilot <div class="rating">
								<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
							</div>
							<br>
							<a href="https://fr.trustpilot.com/review/" class="ref">Lire tous les avis</a>
						</div>      
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<section class="blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title3">
					<h4>Le Blog SoPressing</h4>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<h5 class="blog_title">Qu'est ce que l'aquanettoyage ?</h5>
						<p class="blog_art">L'aquanettoyage est une méthode de nettoyage à l'eau qui permet de laver tout type de textile sans émission de polluant dans l'air... <br><br></p>
						<button type="button" class="btn btn-outline-info">Lire la suite</button>
					</div>
					<div class="col-lg-3"> 
						<h5 class="blog_title">Nettoyage à sec = nettoyage sans eau ? </h5>
						<p class="blog_art">Contrairement aux idées reçues, malgré son nom, le nettoyage à sec consomme une grande quantité d’eau... <br><br></p>
						<button type="button" class="btn btn-outline-info">Lire la suite</button>
					</div>
					<div class="col-lg-3">
						<h5 class="blog_title">Le pressing Bio est-il vraiment sans danger ?</h5>
						<p class="blog_art"> Une loi a été votée interdisant l’ouverture de pressing utilisant du perchloroéthylène, solvant utilisé pour le nettoyage à sec. Mais qu'en est-il du bio ? <br></p>
						<button type="button" class="btn btn-outline-info">Lire la suite</button>
					</div>
					<div class="col-lg-3">
						<h5 class="blog_title">Mais d'ou vient le mot pressing ? </h5>
						<p class="blog_art">Découvrez l'histoire farfelue de Jean-Baptiste Jolly qui a découvert le nettoyage à sec ! <br><br><br></p>
						<button type="button" class="btn btn-outline-info">Lire la suite</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="convaincant">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row"> 
					<div class="offset-3 col-6">
						<h3 class="title4">Convaincant ? Essayez pour voir !</h3>
						<br>
						<a href="#ancre2"><button type="button" class="btn btn-primary" href="#ancre2">Comparer les prix</button></a>
					</div>        
				</div>
			</div>
		</div>
	</div>
</section>
</body>