<head>
	<%= stylesheet_link_tag "result", media: "all", "data-turbolinks-track" => "true" %>
</head>

<section class="result">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="title">
					<h2><%= @pressing_sorted.count %> pressings</h2>
					<h3>Voici les pressings les moins chers à proximité de votre position</h3>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<article class="col-lg-7">
								<div class="row">
									<div class="col-lg-12">
										<% @pressing_sorted.each_with_index do |pressing, index| %>
										<div class="row align-items-center result">
											<div class="col-lg-8 alignement-gauche">
												<p class="nom_pressing"><%= pressing[1] %></p>
												<p class="adresse_pressing"><%= pressing[2] %></p>
												<p class="distance_pressing">Distance : <%= Geocoder::Calculations.distance_between(@distance, [pressing[4],pressing[5]], :units => :km).round(2)%>km du centre-ville</p>	
											</div>
											<div class="col-lg-2">
												<p class="price_pressing"><%= @basket_price[index]%> €</p>
											</div>
											<div class="col-lg-2">
												<button type="button" class="btn btn-info button_contact">Contacter <br>le pressing</button>
											</div>
										</div>
										<% end %>
									</div>							
								</div>
							</article>
							<!--<div class="col-sm-1 blank"></div>-->
							<div class="col-sm-5 gmap">
								<div class="row">
									<aside class="col-sm-12">
										<body
										onload="initialize()">
										<div id="map"></div>
										</body>
										<script>
											function initMap() {
												var map;
												var bounds = new google.maps.LatLngBounds();
												var mapOptions = {
													mapTypeId: 'roadmap'
												};

										    // Display a map on the web page
										    map = new google.maps.Map(document.getElementById("map"), mapOptions);
										    map.setTilt(50);

										    // Multiple markers location, latitude, and longitude
										    var markers = [];
										    <% @pressing_sorted.each do |for_marker| %> 
										    markers.push(['<%= for_marker[1] %>', <%= for_marker[4] %>, <%= for_marker[5] %>]);
										    <% end %>



										    // Info window content
										    var infoWindowContent = [];

										    <% @pressing_sorted.each do |pressing| %> 
										    infoWindowContent.push(['<div class="info_content">' +
										    	'<h3><%= pressing[1] %></h3>' +
										    	'<p><%= pressing[3] %></p>' + '</div>']);
										    <% end %>



										    // Add multiple markers to map
										    var infoWindow = new google.maps.InfoWindow(), marker, i;
										    
										    // Place each marker on the map  
										    for( i = 0; i < markers.length; i++ ) {
										    	var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
										    	bounds.extend(position);
										    	marker = new google.maps.Marker({
										    		position: position,
										    		map: map
										    	});

										        // Add info window to marker    
										        google.maps.event.addListener(marker, 'click', (function(marker, i) {
										        	return function() {
										        		infoWindow.setContent(infoWindowContent[i][0]);
										        		infoWindow.open(map, marker);
										        	}
										        })(marker, i));

										        // Center the map to fit all markers on the screen
										        map.fitBounds(bounds);
										    }

										    // Set zoom level
										    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
										    	this.setZoom(14);
										    	google.maps.event.removeListener(boundsListener);
										    });
										    
										}
										// Load initialize function
										google.maps.event.addDomListener(window, 'load', initMap);
									</script>
								</aside>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdPAOLKPNZJKEKAU4nuUZv8zPwkuprXnQ&callback=initMap">
</script>
